In [29]:
import pandas as pd
import numpy as np
import os

np.random.seed(1223)

In [43]:
def split_one(data, split_ratio=0.9):
    msk = np.random.rand(len(data)) < split_ratio
    train = data[msk]
    test = data[~msk]
    return train, test


def split(data, split_ration=0.9):
    df1_train, df1_test = split_one(data[data['sarcastic'] == 1])
    df0_train, df0_test = split_one(data[data['sarcastic'] == 0])

    train = pd.concat([df1_train, df0_train], axis=0)
    test = pd.concat([df1_test, df0_test], axis=0)

    len(train), len(test), len(df1_train), len(df1_test), len(df0_train), len(df0_test)
    return train, test


def write(filepath, data):
    data.to_csv(filepath, index=False)

# English Data

In [39]:
df_en = pd.read_csv('./data/train.En.csv', header=0, quotechar='"', index_col=0)

df_en.describe()

,sarcastic,sarcasm,irony,satire,understatement,overstatement,rhetorical_question
count,3468.000000,867.000000,867.000000,867.000000,867.000000,867.000000,867.000000
mean,0.250000,0.822376,0.178777,0.028835,0.011534,0.046136,0.116494
std,0.433075,0.382417,0.383387,0.167439,0.106837,0.209901,0.321001
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.250000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [40]:
df_en.groupby('sarcastic')['tweet'].count()

sarcastic
0    2600
1     867
Name: tweet, dtype: int64

In [44]:
train,test = split(df_en)
os.makedirs('./data/en', exist_ok=True)
write('./data/en/train.csv', train)
write('./data/en/test.csv', test)

# Arabic Data

In [45]:
df_ar = pd.read_csv('./data/train.Ar.csv', header=0, quotechar='"', index_col=0)

df_ar.describe()

         sarcastic
count  3101.000000
mean      0.240245
std       0.427301
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

In [46]:
df_ar.groupby('sarcastic')['tweet'].count()

sarcastic
0    2356
1     745
Name: tweet, dtype: int64

In [47]:
train,test = split(df_ar)
os.makedirs('./data/ar', exist_ok=True)
write('./data/ar/train.csv', train)
write('./data/ar/test.csv', test)